@page "/Members/Views/{id:min(1)?}"
@model RazorPage.Pages.Members.DetailsModel
@{
    ViewData["Title"] = "Member Details page";
    var photoPath = "~/images/" + (@Model.Employee.PhotoPath ?? "noimage.jpg");
}

@* @await Component.InvokeAsync("HeadCount", new { dept = Model.Employee.Department})*@

@if(@Model.Employee is not null)
{
          @if(!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-@(Model.Alert) mt-3" role="alert" id="delete-success-alert">
            @Model.Message
        </div>
    }
    <div class="row justify-content-center m-3" >
        <div class="col-sm-8" style=" max-width :40%;">
             <div class="card text-center">
                 <div class="card-header">
                     <h1>@Model.Employee.Name</h1>
                 </div>

                 <div class="card-body text-center">
          
                     <img class="card-img-top" src="@photoPath" asp-append-version=true/>

                     <h4>Member ID: @Model.Employee.Id</h4>
                     <h4>Email : @Model.Employee.Email</h4>
                     <h4>Department : @Model.Employee.Department</h4>
          
                 </div>

                 <div class="card-footer text-center">
                     <a asp-page="/Members/Index" class="btn btn-primary">Back</a>
                     <a asp-page="/Members/Edit" asp-route-ID="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                     <a asp-page="/Members/Delete" asp-route-ID="@Model.Employee.Id" class="btn btn-primary">Delete</a>
                 </div>


                 
             </div>
        </div>

    </div>
}

